.nav {
  width: 108px;
  height: 730px;
  background-color: #222222;
  border-radius: 19px;

  input {
    display: none;
  }
  #xd-logo {
    margin-top: 35px;
    margin-bottom: 68px;
  }
  img {
    margin-bottom: 73px;
  }
}

.open {
  width: 430px;
}

.nav-item__text {
  display: none;
}
